body {
  background: url(images/choice-written-on-blackboard.jpg) 90% 5% / 350px 200px no-repeat scroll border-box border-box #fff;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

li a {
  color: #39b33e;
  padding: 8px;
}

a {
  text-decoration: none;
}
